div {
    background-color: #9e9d9d;
    color: rebeccapurple;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

img{
vertical-align: top;
}

a {
  text-decoration: none;
}

.para {
  width: 400px;
  line-height: 24px;
  word-spacing: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
