*{
    box-sizing: border-box;
}

.block{
    width: 200px;
    height: 100px;
    background-color: bisque;
    padding: 40px;
/* 
    transition-duration: 3s;
    transition-delay: .2s;
    transition-property: font-weight, padding;
    transition-timing-function: ease-out; */
    /* 
    ease (valeur par défaut) : La transition commence lentement, accélère au milieu, puis ralentit à la fin
    linear : La transition se produit à une vitesse constante du début à la fin
    ease-in :  Transition lente au début et rapide à la fin 
    ease-out : commence rapidement
    */

    /* Short hand :  */
    transition: width 3s, height 1s, padding 2s, background-color 3s 1s;
}

.block:hover{
    /* margin-left : 20px;
    margin-top: 20px; */
    width: 500px;
    background-color: rgb(247, 192, 125);
    height: 150px;
    padding: 60px;

}