body {
    background-color: rgb( 255 255 255 /50%);
    color: aliceblue;
    background-image: url("./img2.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 10% 10%;
    background-size: 800px 800px;
}
