  /* part one */
.one span {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
  .two::first-letter {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
  .three::first-line {
    font-weight: bold;
    color: green;
  }
  ::selection {
    background-color: black;
    color: yellow;
  }



  /* part two */
  .parent {
    margin-bottom: 20px;
    overflow: hidden;
  }
  .para {
    background-color: #eee;
    padding: 10px;
    width: 600px;
    float: left;
    position: relative;
  }
  .para::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: -10px;
    top: 0;
    background-color: #009688;
  }
  .para::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    background-color: white;
    margin-top: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #009688 transparent transparent;
  }
  .user {
    background-color: #eee;
    width: 50px;
    margin-right: 20px;
    padding: 10px;
    height: 55.5px;
    float: left;
    font-size: 50px;
    text-align: center;
  }


  /* part three */

  ul {
    list-style: none;
  }
  ul li {
    position: relative;
  }
  ul li::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #009688 transparent transparent;
  }